@{
    ViewData["Title"] = "Yei :D";
}

<h1>@ViewData["Title"]</h1>

<p>Vous avez déjà effectué cet examen</p>

<a class="nav-link text-blue" asp-area="" asp-controller="Examen" asp-action="Index">OK</a>