@{
    ViewData["Title"] = "Examen Selector";
}

<div class="text-center">
    <h1>Sélectionner la compétence à évaluer</h1>
    <hr/>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Choix multiple</h5>
                    <h4 class="card-subtitle">Culture générale</h4>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Examen" asp-action="MCcg">Choisir</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Choix multiple</h5>
                    <h4 class="card-subtitle">Verbe être</h4>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Examen" asp-action="MCetre">Choisir</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Choix multiple</h5>
                    <h4 class="card-subtitle">Noms de chiffres de 0 à 100</h4>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Examen" asp-action="MCnumbers">Choisir</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Choix multiple</h5>
                    <h4 class="card-subtitle">Articles définis et indéfinis </h4>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Examen" asp-action="MCarticles">Choisir</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Choix multiple</h5>
                    <h4 class="card-subtitle">Dates en formats court</h4>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Examen" asp-action="MCdates">Choisir</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Essai</h5>
                    <h4 clsss="card-subtitle">Culture générale</h4>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Examen" asp-action="Essay">Choisir</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Correspondance</h5>
                    <h4 class="card-title">Noms des objets</h4>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Examen" asp-action="MCobjets">Choisir</a>
                </div>
            </div>
        </div>
    </div>
</div>