@{
    ViewData["Title"] = "Examen Selector";
}

<div class="text-center">
    <h1>Sélectionner la compétence à évaluer</h1>
    <hr/>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Choix multiple</h5>
                    <h4 class="card-subtitle">Culture générale</h4>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Examen" asp-action="MCcg">Choisir</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Choix multiple</h5>
                    <h4 class="card-subtitle">Verbe être</h4>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Examen" asp-action="MCetrePresent">Choisir</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Choix multiple</h5>
                    <h4 class="card-subtitle">Jours de la semaine</h4>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Examen" asp-action="MCweek">Choisir</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Choix multiple</h5>
                    <h4 class="card-subtitle">Mois de l'année</h4>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Examen" asp-action="MCmonth">Choisir</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Choix multiple</h5>
                    <h4 class="card-subtitle">Articles définis et indéfinis </h4>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Examen" asp-action="McArticle">Choisir</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Choix multiple</h5>
                    <h4 class="card-subtitle">Noms de chiffres de 0 à 69</h4>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Examen" asp-action="MCnumbers">Choisir</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Choix multiple</h5>
                    <h4 class="card-subtitle">Adjectifs qualificatifs</h4>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Examen" asp-action="MCadjective">Choisir</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Choix multiple</h5>
                    <h4 class="card-title">Prépositions de lieu</h4>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Examen" asp-action="McLieu">Choisir</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Choix multiple</h5>
                    <h4 clsss="card-subtitle">Le famille</h4>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Examen" asp-action="McFamily">Choisir</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Réponse Courte</h5>
                    <h4 class="card-title">Les nationalités</h4>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Examen" asp-action="McNations">Choisir</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Choice multiple</h5>
                    <h4 class="card-title">Extra vocabulaire</h4>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Examen" asp-action="MCvocabulary">Choisir</a>
                </div>
            </div>
        </div>
    </div>
</div>