@{
    ViewData["Title"] = "Selection Page";
}

<div class="text-center">
    <h1>Sélectionner la compétence à évaluer</h1>
    <hr />
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Choix multiple</h5>
                    <h4 class="card-subtitle">Présent</h4>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Examen" asp-action="EtrePresent">Choisir</a>
                </div>
            </div>
        </div>
    </div>
</div>
