@{
    ViewData["Title"] = "Progression relancée.";
}

<h1>@ViewData["Title"]</h1>

<p>Votre progression a été supprimée.</p>

<a class="nav-link text-blue" asp-area="" asp-controller="Examen" asp-action="Index">OK</a>