@{
    ViewData["Title"] = "Reset";
}
<h1>@ViewData["Title"]</h1>

<p>Êtes-vous sûr de vouloir redémarrer votre progression ?</p>

<a class="nav-link text-red" asp-area="" asp-controller="Reset" asp-action="Delete">Confirmer</a>

<a class="nav-link text-blue" asp-area="" asp-controller="Examen" asp-action="Index">Annuler</a>
